html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Muli';
}

button {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border: none;
    border-radius: 50px;
    color: white;
    font-family: 'Muli';
    padding: 15px;
    text-transform: uppercase;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 660px;
    margin: auto;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

header {
    width: 100%;
    text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    transform: rotateY(180deg);
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card li {
    transform: rotateY(180deg);

}

.deck .card.hide {
    transform: rotateY(180deg);
    transition: 0.2s;
}

.deck .card.open {
    transform: rotateY(0deg);
    background: #02b3e4;
    cursor: default;
    transition: 0.2s;
}

.deck .card.open li {
    transform: rotateY(0deg);
    transition: 0.2s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    background: red;
    animation: shake 0.5s;
}
/*
 * Styles for the Score Panel
 */

.score-panel .moves {
    width: 35%;
    text-align: center;
}

.score-panel {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.score-panel .stars {
    width: 15%;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 0;
}

.score-panel .stars li, .resultStars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.score-panel .timer {
    width: 35%;
    text-align: center; 
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Styles for the modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 350px;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}